<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="https://anotedao.com/static/favicon.png?v=1.0.1" />
        <meta name="google-site-verification" content="bYVZi8dM-qG40x804IFTUJsDOQdN2D2FeooBYvA84E8" />
        <title>Anote Price And Stats | Anote Crypto - Best of Bitcoin, Ethereum and PI</title>
        <meta name="description" content="Anote Price And Stats | Anote is a simple and viral cryptocurrency, easy to use, easy to mine and completely independent in its development and management done by the community."https://anotedao.com/>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CVarela+Round" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="https://anotedao.com/static/css/bootstrap.min.css" />
        <link type="text/css" rel="stylesheet" href="https://anotedao.com/static/css/owl.carousel.css" />
        <link type="text/css" rel="stylesheet" href="https://anotedao.com/static/css/owl.theme.default.css" />
        <link type="text/css" rel="stylesheet" href="https://anotedao.com/static/css/magnific-popup.css" />
        <link rel="stylesheet" href="https://anotedao.com/static/css/font-awesome.min.css">
        <link type="text/css" rel="stylesheet" href="https://anotedao.com/static/css/style.css?v=1.0.6" />
        <meta property="og:url"                content="https://anotedao.com/stats" />
        <meta property="og:type"               content="article" />
        <meta property="og:title"              content="Anote Price And Stats | Anote Crypto - Best of Bitcoin, Ethereum and PI!" />
        <meta property="og:description"        content="Anote Price And Stats | Anote is a simple and viral cryptocurrency, easy to use, easy to mine and completely independent in its development and management done by the community." />
        <meta property="og:image"              content="https://anotedao.com/static/img/fb.png?v=1.0.0" />
        <script src="https://cdn.counter.dev/script.js" data-id="d86f7402-1929-4bdd-b17d-6cc69b56ed2e" data-utcoffset="2"></script>
    </head>

<body>

    
    <header>
        
        <div class="bg-img" style="background-image: url('https://anotedao.com/static/img/background13.jpeg');">
            <div class="overlay"></div>
        </div>
        

        
        <nav id="nav" class="navbar">
            <div class="container">

                <div class="navbar-header">
                    
                    <div class="navbar-brand">
                        <a href="https://anotedao.com/">
                            <img class="logo" src="https://anotedao.com/static/img/logo.png" alt="logo">
                            <img class="logo-alt" src="https://anotedao.com/static/img/logo-alt.png" alt="logo">
                        </a>
                    </div>
                    

                    
                    <div class="nav-collapse">
                        <span></span>
                    </div>
                    
                </div>

                
                <ul class="main-nav nav navbar-nav navbar-right" id="main-nav">
                    <li><a href="https://anotedao.com">Home</a></li>
                    <li class="active"><a href="/">Stats</a></li>
                </ul>
                

            </div>
        </nav>
        

        
        <div class="header-wrapper sm-padding bg-dark">
            <div class="container">
                <h2>Anote Price And Stats</h2>
            </div>
        </div>
        

    </header>
    

    
    <div class="section md-padding">

        
        <div class="container">

            
            <!-- <div class="row"> -->

                
                <div class="section-header" style="margin-bottom: 20px;">
                    <h2 class="title">Anote Price</h2>
                </div>
                

                
                <div class="col-12">
                    <p>
                        <span style="font-size: 4em;"><strong>${{ .Cache.Price }}</strong></span>
                    </p>
                    <p>You can also check <a href="https://coinmarketcap.com/dexscan/bsc/0x1e4c19941a346dc21150335c2cf17d38cd5d8703/" target="_blank">Anote price</a> at any time on CoinMarketCap.</p>

                    <h3 style="margin-top: 40px;">Other Anote Stats</h3>
                    <p><strong>Total Mined Anotes:</strong> {{ .Cache.Mined }}</p>

                    <h3 style="margin-top: 40px;">Node Stats</h3>
                    <p><strong>Daily Node Reward:</strong> {{ .Cache.AmountNode }} ANOTE</p>
                </div>
                
            <!-- </div> -->
            

        </div>
        

    </div>
    




    
    <footer id="footer" class="sm-padding bg-dark">

        
        <div class="container">

            
            <div class="row">

                <div class="col-md-12">

                    
                    <div class="footer-logo">
                        <a href="https://anotedao.com/"><img src="https://anotedao.com/static/img/logo-alt.png" alt="logo"></a>
                    </div>
                    

                    
					<ul class="footer-follow">
                        <li><a href="https://t.me/AnoteDAO" target="_blank"><i class="fa fa-telegram"></i></a></li>
						<li><a href="https://www.facebook.com/anotedao" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://github.com/anotedao" target="_blank"><i class="fa fa-github"></i></a></li>
					</ul>
					

                    
                    <div class="footer-copyright">
                        <p>Copyleft &copy; Forever <a href="https://anotedao.com/">Anote</a>.</p>
                    </div>
                    

                </div>

            </div>
            

        </div>
        

    </footer>
    

    
    <div id="back-to-top"></div>
    

    
    <div id="preloader">
        <div class="preloader">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    

    
    <script type="text/javascript" src="https://anotedao.com/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="https://anotedao.com/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://anotedao.com/static/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="https://anotedao.com/static/js/jquery.magnific-popup.js"></script>
    <script src="https://anotedao.com/static/js/datamaps.world.min.js"></script>
    
    <script src="https://anotedao.com/static/js/js.cookie.min.js"></script>
    <script type="text/javascript" src="https://anotedao.com/static/js/main.js?v=1.0.20"></script>

</body>

</html>